/* ----------   GLOBAL CSS STYLES    ---------- */
    /*Colours: gray-#7D8D87, green-#9EB45B, lightgray-#f1f1f1, black-#000, white-#fff, tan-#CBC497, brown-#B87f45
    
    /*Responsive style for desktop screens (larger than Ipad)*/
    /*Screen sizes determined with F12 screen size viewer functionality*/
    @media screen and (min-width: 1025px)
    {
    }

    /*Repsonsive style for small screens & tablets (IPad pro=1024px)*/
    @media screen and (max-width: 1024px)
    {
    }

    /*Responsive style for phones & small tablets (Pixel XL=411px)*/
   

/* ----------  END GLOBAL CSS STYLES  --------- */


/* -------   INDEX (HOME) CSS STYLES    ------- */

    /* START of Navbar and Header CSS*/
    /*Sarah Griffiths:Last Modified Nov 24*/

		ul {list-style-type: none;
			font-weight: 400;
			overflow: hidden;
			background-color: #CBC497;
			padding: 0;
			margin:0;
			box-shadow: 0px 2px #7D8D87}
		li {float: left}
		li a {display: block;
			color: whitesmoke;
			font-family: arial;
			font-size: 20px;
			text-align: left;
			padding: 16px 16px;
			text-decoration: none}
		li a:hover {background-color: whitesmoke; 
			color: #000}
		.sticky {position: fixed;
			top: 0;
			width: 100%}
		.active {background-color: whitesmoke;
			color: #000}
		/*.dropdown-content {overflow: hidden;
			display:none} */
		header {margin: 0;
			text-align: center;
			padding-top: 90px;
			padding-bottom: 180px;
			background-color: #9EB45B;
			color: whitesmoke;
			font-family: Arial, Helvetica, sans-serif;
			padding-right:75px;
			padding-left: 75px;}
		.logo {float: left}
		.company {font-size:40px;
				margin: 30px;
                font-family:arial;
				font-weight:400}
		.slogan {font-size:20px;
			margin: 30px;
            font-family:arial;
			font-weight:400}
		.aboutbutton {display: inline-block;
			background-color:#000;
			padding-right: 30px;
			padding-left: 30px;
			padding-bottom:15px;
			padding-top: 15px;
			color: whitesmoke;
			font-family:Arial, Helvetica, sans-serif;
			font-size: 18px;
			text-decoration: none}
		a:hover {background-color: #f1f1f1;
			color:#000}
	
    /*END of Navbar and Header CSS*/


    /* START of About Section CSS
    Carina Leale: Last Modified 23-Nov-2020*/

        .aboutblock {background-color:whitesmoke;
                width: 100%;
                padding-bottom: 1.5%;
                padding-top: 1.5%;}
        .title {font-size:40px;
                font-family:arial;
                font-weight:400;
                color: #B87f45;
                padding-left: 5%;
                padding-right: 5%;}
        .subtitle  {padding-top:0.25%;
                padding-bottom:0.25%;
                font-family:arial;
                font-size:large;
                font-weight:600;
                color: #7D8D87;
                padding-left: 5%;
                padding-right: 5%;}
        .bodytext {font-family:arial;
                font-size:medium;
                color:#7D8D87;
                font-weight:300;
                padding-left: 5%;
                padding-right: 5%;}
        .linedivider {border-top: 1.5px #9EB45B solid;
                padding-left: 5%;
                padding-right: 5%;}
    /*END of About Section CSS*/



    /*START of Footer CSS
    Toby Agomuo; Last Modified: */
    
	.footer{
			
			width: 100vw;
			display: block;
			overflow: hidden;
			padding: 70px 0;
			box-sizing: border-box;
			background-color:#9EB45B;
		}
	.innerFooter{
				display: block;
				margin: 0 auto;
				width: 1100px;
				height: 100%;
				
				}
    .innerFooter .logo{
			width: 35%;
			float: left;
			height: 100%;
			display: block;
					
	}
	.innerFooter .logo img{
		width: 265px;
		height: auto;
		
		}
	.innerFooter .foot{
		width: calc(21.67% - 20px);
		margin-right: 10px;
		float: left;
		height: 100%;
	
		
        }
        .innerFooter.foot :last-child{
            margin-right: 0;
         
            }
	.innerFooter .foot h1{
		font-family: 'arial';
		font-size: 22px;
		color: white;
		display: block;
		width: 100%;
		margin-bottom: 20px;
		}
    .innerFooter .foot a{
            font-family: 'arial';
            font-size: 18px;
            color: white;
            display: block;
            font-weight: 200;
            width: 100%;
            padding-bottom: 5px;
        }
    .innerFooter .foot li{
            display: inline-block;
            padding: 0 5px;
            font-size: 20px;
        }
    
    .innerFooter .foot span{
            color: white;
            font-family: 'arial';
            font-size: 16px;
            font-weight: 200;
            display: block;
            width: 100;
            padding-top: 20px;
        }
                  
        @media  (max-width: 800px)
        {
            .footer .innerFooter{
                    width: 90px;
                
            }
            .innerFooter .logo,
            .innerFooter .foot{
    
                width: 100%;
                margin-bottom: 30px;
            }
        }

    /*END of Footer CSS */

/* -----   END INDEX (HOME) CSS STYLES    ----- */





/* -------   GIS SERVICES CSS STYLES    ------- */

/* -----   END GIS SERVICES CSS STYLES    ----- */





/* ---------   PROJECT  CSS STYLES    --------- */

/* --------   END PROJECT CSS STYLES    ------- */





/* -------   MEET OUR TEAM CSS STYLES    ------- */

/* ------  END MEET OUR TEAM CSS STYLES   ------ */




/* --------     CAREERS CSS STYLES     --------- */

/* ------     END CAREERS CSS STYLES     ------- */


