/* ----------   GLOBAL CSS STYLES    ---------- */
/*Colours: gray-#7D8D87, green-#9EB45B, lightgray-#f1f1f1, black-#000, white-#fff, tan-#CBC497, brown-#B87f45 */

/*START of media tags for resposnsive design*/
/*Carina Leale: Last modified 26-Nov-2020*/
/*Retrieved 12 column design from: https://www.w3schools.com/css/css_rwd_grid.asp*/
/* For mobile phones: */
[class*="col-"] {
	width: 100%;}
/*For Tablets: */
@media only screen and (min-width: 600px) {
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}}
/*For Desktops */
@media only screen and (min-width: 768px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}}
/*EMD of media tags for responsive design*/
   

/* ----------  END GLOBAL CSS STYLES  --------- */


/* -------   INDEX (HOME) CSS STYLES    ------- */

    /* START of Navbar and Header CSS*/
    /*Sarah Griffiths:Last Modified 5-Dec-2020*/

	/* Desktop-Tablet */

    ul {list-style-type: none;
        font-weight: 400;
        overflow: hidden;
        background-color: #CBC497;
        padding: 0;
        margin:0}
    li {float: left}
    li a {display: block;
        color: whitesmoke;
        font-family: arial;
        font-size: 20px;
        text-align: left;
        padding: 16px 16px;
        text-decoration: none}
    li a:hover {background-color: whitesmoke; 
        color: #000}
    .active {background-color: whitesmoke;
        color: #000}
    .dropdown {
        float: left;
        overflow: hidden;}
    .dropdown .dropbtn {
        font-size: 20px;  
        border: none;
        outline: none;
        color: whitesmoke;
        padding: 16px 16px;
        background-color: inherit;
        font-family: arial;
        margin: 0;}
    .desktopnavbar a:hover, .dropdown:hover .dropbtn {
        background-color: whitesmoke;
        color: #000}
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1}
    .dropdown-content a {
        float: none;
        background-color: #f1f1f1;
        color: black;
        padding: 16px 16px;
        text-decoration: none;
        display: block;
        text-align: left}
    .dropdown-content a:hover {
        background-color: whitesmoke}
    .dropdown:hover .dropdown-content {
        display: block}
    header {margin: 0;
        text-align: center;
		padding-top:5vw;
        padding-bottom: 30vw;
        background-color: #9EB45B;
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
        padding-right:75px;
        padding-left: 75px;}
	.head-text-right {float: right}
	.head-text-left {float: left}
    .logo {float: left;
		margin: 0;
		width:25vw;
		height:25vw}
    .company {font-size:5vw;
		margin-top:2vw;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:400}
    .slogan {font-size:3vw;
        margin: 3vw;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:400}
    .aboutbutton {display: inline-block;
        background-color:#000;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom:15px;
        padding-top: 15px;
        color: whitesmoke;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-decoration: none}
    a:hover {background-color: #f1f1f1;
        color:#000}		
	.mobilenavbar{display:none}
	.mobileheader{display:none}
	@media only screen and (min-width: 645px) {
		.logo {float: left;
			margin: 0;
			width:20vw;
			height:20vw}
		.company {font-size:5vw;
			margin-top:2vw;
			font-family:Arial, Helvetica, sans-serif;
			font-weight:400}
		.slogan {font-size:3vw;
			margin: 3vw;
			font-family:Arial, Helvetica, sans-serif;
			font-weight:400}}
	
	
	/* Mobile */
	/* Header Responsive Design: https://www.youtube.com/watch?v=ZYV6dYtz4HA&ab_channel=DaniKrossing */
	/* Hamburger: https://www.youtube.com/watch?v=At4B7A4GOPg&ab_channel=WebDevSimplified */		

	@media(max-width: 645px) {
	header{display:none}
	.desktopnavbar{display:none}
	.toggle-button {display: flex;
		position: absolute;
		top:1.75%;
		right:82%;
		padding: 15px 12px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width:30px;
		height: 21px}
	.toggle-button .bar{height: 3px;
		width: 100%;
		background-color: white;
		border-radius: 10px}
	.mobilenavbar-links {display: none;
		width:50%;
		background-color:white;
		padding:3vw;
		position:absolute;
		left:0;
		top:60px;}
	.mobilenavbar {flex-direction: column;
		align-items: flex-start;
		display: flex;
		align-items: center;
		background-color: #CBC497;
		padding:1vw}
	.company-title p {font-size:25px;
		font-family:Arial, Helvetica, sans-serif;
		margin: 15px;
		color:whitesmoke;
		float:left}
	ul {flex-direction: column;
		margin:0;
		padding:0;
		display: flex;
		background-color:white;
		box-shadow:none}
	li {text-align: center;
		list-style-type: none;
		float:left}
	li a {padding: 2vw 2vw;
		font-family:Arial, Helvetica, sans-serif;
		color: #000;
		font-size:20px;
		text-decoration: none}
    a:hover {background-color: #CBC497}
	.mobilenavbar-links.active {display: flex}
	.mobilenavbar img {position: absolute;
		top:2%;
		left:82%;
		margin:0;
		padding:0}
	.mobileheader {display:block;
		margin:0;
		background-color:#9EB45B;
		padding: 3vw}
	.mobileheader h1 {font-weight:400px;
		font-size: 30px;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		color: whitesmoke}
	.mobileheader p {font-weight: 200px;
		font-size: 15px;
		text-align: center;
		font-family:Arial, Helvetica, sans-serif;
		color: whitesmoke}}

/*END of Navbar and Header CSS*/


/* START of About Section CSS
    Carina Leale: Last Modified 6Dec-2020*/
		/*CSS index page inspo from: https://www.w3schools.com/w3css/tryw3css_templates_start_page.htm; https://www.evarigisconsulting.com/company */
		/* Create two columns that float next to each other */
		.col-left {
			float: left;}
		.col-right {
			float: right;}

		/* Clear floats after the columns */
		.row:after {
			content: "";
			display: table;
			clear: both;}
		
        .aboutblock {background-color:whitesmoke;
                padding-bottom: 1%;
                padding-top: 1%;}
        .title {font-size:40px;
                font-family:arial;
                font-weight:400;
                color: #B87f45;
                padding-left: 5%;
                padding-right: 5%;}
        .subtitle  {padding-top:0.25%;
                padding-bottom:0.25%;
                font-family:arial;
                font-size:large;
                font-weight:600;
                color: #7D8D87;
                padding-left: 5%;
                padding-right: 5%;}
        .bodytext {font-family:arial;
                font-size:medium;
                color:#7D8D87;
                font-weight:300;
                padding-left: 5%;
                padding-right: 5%;
                line-height: 200%}
        .linedivider {border-top: 1.5px #9EB45B solid;
                padding-left: 5%;
                padding-right: 5%;}
        img.aboutcompanyimg1 {
            display:block;
			margin-left:auto;
			margin-top:auto;
			margin-bottom:auto;
			margin-right:auto;
			max-width: 100%;
            height: auto;
            padding: 3%;}
		 img.aboutcompanyimg2 {
            display:block;
			margin-left:auto;
			margin-right:auto;
			margin-top:auto;
			margin-bottom:auto;
			max-width: 100%;
            height: auto;
            padding: 3%;} 

		.figure {
			font-size:80%;
			color:#7D8D87;
			font-family: arial;
			text-align: center;
			padding: 3%}
    /*END of About Section CSS*/



    /*START of Footer CSS
    Toby Agomuo; Last Modified: */
    
	.footer{
			
			width: 100%;
			display: block;
			overflow: hidden;
			padding: 70px 0;
			box-sizing: border-box;
			background-color:#9EB45B;
		}
	.innerFooter{
				display: block;
				margin: 0 auto;
				width: 1100px;
				height: 100%;
				
				}
    .innerFooter .logo{
			width: 35%;
			float: left;
			height: 100%;
			display: block;
					
	}
	.innerFooter .logo img{
		width: 205px;
		height: auto;
		
		}
	.innerFooter .foot{
		width: calc(21.67% - 20px);
		margin-right: 10px;
		float: left;
		height: 100%;
	
		
        }
        .innerFooter.foot :last-child{
            margin-right: 0;
         
            }
	.innerFooter .foot h1{
		font-family: 'arial';
		font-size: 22px;
		color: white;
		display: block;
		width: 100%;
		margin-bottom: 20px;
		}
    .innerFooter .foot a{
            font-family: 'arial';
            font-size: 18px;
            color: white;
            display: block;
            font-weight: 200;
            width: 100%;
            padding-bottom: 5px;
        }
    .innerFooter .foot li{
            display: inline-block;
            padding: 0 5px;
            font-size: 20px;
        }
    
    .innerFooter .foot span{
            color: white;
            font-family: 'arial';
            font-size: 16px;
            font-weight: 200;
            display: block;
            width: 100;
            padding-top: 20px;
        }
    .footer-bottom {
            text-align: center;
            color: white;
            padding-top: 50px;
        }
                  
        @media  (max-width: 800px)
        {
            .footer .innerFooter{
                    width: 90px;
                
            }
            .innerFooter .logo,
            .innerFooter .foot{
    
                width: 100%;
                margin-bottom: 30px;
            }
        }

    /*END of Footer CSS */

/* -----   END INDEX (HOME) CSS STYLES    ----- */





/* -------   GIS SERVICES CSS STYLES    ------- */

/* -----   END GIS SERVICES CSS STYLES    ----- */





/* ---------   PROJECT  CSS STYLES    --------- */

/* --------   END PROJECT CSS STYLES    ------- */





/* -------   MEET OUR TEAM CSS STYLES    ------- */

/* ------  END MEET OUR TEAM CSS STYLES   ------ */




/* --------     CAREERS CSS STYLES     --------- */

/* ------     END CAREERS CSS STYLES     ------- */


